/**=====================
     47. Footer CSS Start
==========================**/
#cookie-consent {
  flex-flow: unset !important;
  padding: 8px !important;
  margin: -1px !important;
}

#cookie-consent-button {
  border-radius: .85rem !important;
  display: table;
  font-size: .7rem !important;
  margin: 0 .5rem !important;
  padding: .35rem .7rem !important;
}

.footer{
  background-color: $footer_bg_color;
  box-shadow: $footer_box_shadow;
  padding: 15px;
  bottom: 0;
  left: 0;
  // margin-left: 280px;
  transition: 0.5s;  
  &.footer-dark{
    background-color: $footer_dark_color;
    p{
      color: $white;
    }
  }

  a:not(.footer-bar-link) {
    color: unset;
    &:hover {
      color: var(--theme-default);
    }
  }
}
.footer-fix{
  width: calc(100% - 280px);
  position: fixed;
}
/**=====================
     47. Footer CSS Ends
==========================**/
